.opacity-transition {
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: .55s;
  }
}
.modal-transition {
    &-enter-from,
    &-leave-to {
        opacity: 0;
    }

    &-enter-active,
    &-leave-active {
        transition: .2s;
    }
}


.answer-text-transition {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: scale(0.7);
  }

  &-enter-active,
  &-leave-active {
    transition: .5s;
  }
}

.answer-image-transition {
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: .5s;
  }
}

